.timeParent {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.timeText {
    display: inline;
    padding: 0 10px;
    font-size: 14px;
    opacity: 0.5;
}
.writerPic {
    width: 28px;
    height: 28px;
    margin: 0 10px;
}