@import "../../styles/variables.module.scss";

.parent {
    display: flex;
    max-height: fit-content;
    flex-direction: column;
    width: 400px;
    padding: 0 1rem;  
    margin: 0; 
    @media screen and (max-width:$screen--small) {
        width: 100%;
        max-width:  400px;
        padding: 0 1rem; 
        padding-bottom: 1rem; 
        margin: 0 auto;
    }

    
}

.image {
    z-index: 0;
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;

    .img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        display: block;
        margin: 0 auto;
        width: 100%;
        min-width: 00px;
        z-index: 1;
        object-fit: contain;

    }

    .imgBg {
        position: absolute;
        object-fit: contain;
        width: 100%;
        display: block;
        margin: 0 auto;
        width: 100%;
        min-width: 00px;
        top: calc(50% + 10px) !important;
        left: calc(50% - 10px) !important;
        transform: translate(-50%, -50%);
        height: 100%;
        z-index: -1;

    }

}

.date {
    font-size: 14px;
    opacity: 0.3;
    display: block;
}

.heading {
    display: block;
    font-size: 28px;
    font-weight: 600;
}

.cotentParent {
    padding: 0 3rem;

}

.subtext {
    display: block;
    font-size: 14px;
    opacity: 0.5;
    padding: 2rem 0;
}

.timeText {
    display: inline;
    padding: 0 10px;
    font-size: 14px;
    opacity: 0.5;
}

.timeimg {}

.timeParent {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.writerPic {
    width: 28px;
    height: 28px;
    margin: 0 10px;
}
@media screen and (max-width:$screen--m-small) {
    .heading{
        padding :8px 0;
        // line-height: 1.5rem;
        font-size: 20px ;
    }
    .subtext{
        padding-top: 0.5rem ;
        font-size: 12px;
    }
    .timeParent{
        font-size: 10px;
    }
    .img{
        margin :8px 0;

    }
}